/* CSS Document */
body{
	background:#FFF;
	opacity:1;
}

#margin{
	margin:0 auto;
	width:600px;
	height:900px;
}

#canvas{
	border:1px solid #ccc;
	margin:0 auto;
	margin-top: 50px;
	width: 400px;
	height:600px;
}

